/* Gradient background animation for the entire element of all pages with class 'gradient-background' */
.gradient-background {
    background: linear-gradient(300deg, #212221, #151514, hsl(178, 80%, 69%));
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  /* Keyframes for the gradient background animation */
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }


  div.buttons button.disabled-btn {
    background-color: #f0f8ff;
    cursor: not-allowed;
}



/* Add padding to the body to ensure content doesn't hide behind the fixed header */
body {
    padding-top: 60px; /* Adjust this based on your header's height */
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    z-index: 1000; /* Keeps it above other content */
    border-top: 1px solid #e7e7e7; /* Adds a border to separate the footer */
}

/* Add padding to the body to ensure content doesn't overlap with the footer */
body {
    padding-bottom: 60px; /* Adjust this based on your footer's height */
}

/* Main content adjustments */
main {
    margin-top: 60px; /* To make sure the content does not overlap with the fixed header */
    margin-bottom: 60px; /* To make sure the content does not overlap with the fixed footer */
    padding: 20px;
}

  