<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Character set for the document -->
    <meta charset="UTF-8" />
    <!-- Ensures proper rendering and touch zooming on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Title of the page -->
    <title>Contact Page</title>
    <!-- Bootstrap CSS for styling -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body class="gradient-background">
    <section>
      <div class="container">
        <!-- Header with navigation menu -->
        <header
          class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <!-- Logo and title of the web page -->
          <a href="/"class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <!-- SVG icon -->
            <svg class="bi me-2" width="40" height="32">
              <use xlink:href="#bootstrap"></use>
            </svg>
            <!-- Web page title -->
            <span class="fs-4">Sports Web Page</span>
          </a>
          <!-- Navigation menu -->
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="sport1.html" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="sport2.html" class="nav-link">Battle</a></li>
            <li class="nav-item"><a href="sport3.html" class="nav-link active" aria-current="page">Contact</a>
            </li>
          </ul>
        </header>

        <!-- Main -->
        <main id="app" class="main-content">
          <h1>{{ event }}</h1>

          <section class="card">
            <!-- Vue v-bind Directive: -->
            <img
              v-bind:src="image"
              alt="Olympic Volleybal"
              class="img-centre"
            />

            <p>
              {{ event }} {{ overview }}. To learn more visit
              <a v-bind:href="url">2024 Olympic</a>
            </p>

            <div class="score status">
              <!-- v-if -->
              <span v-if="italy">Italy</span>
              <span v-else>USA</span>

              <!-- v-Show -->
              <p v-show="italy">is won</p>

             
              <p v-if="score === 25">Italy won the 1st round!</p>
              <p v-else-if="score > 12">Italy is in the lead, keep going!</p>
              <p v-else-if="score > 0 && score <= 12">The game is intense, stay tuned!</p>
              <p v-else>Waiting for the game to start...</p>

            </div>
            <div>
            
                <!-- Vue v-for Directive:-->
                 <ul>
                    <!-- for in loop -->
                    <li v-for="player in actions">{{ player }}</li>
        
                 </ul>
            </div>
          </section>

          <div class="cart">
            {{ cart }}
          </div>
          <div class="buttons">
            <button class="button" @:click="addToCart" :class="{ 'disabled-btn': !italy}">Add to Cart</button>
            <button class="button" @click="removeFromCart">Remove from Cart</button>

          </div>

        </main>
      </div>
    </section>
    <!-- Footer section -->
    <footer class="py-3 my-4">
      <!-- Footer navigation menu -->
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="sport1.html" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="sport2.html" class="nav-link">Battle</a></li>
            <li class="nav-item"><a href="sport3.html" class="nav-link active" aria-current="page">Contact</a></li>
      </ul>
      <!-- Footer copyright information -->
      <p class="text-center text-body-secondary">
        © 2024 Ilac College - Group 18 Micro Project #2 by Maria, Yuka, and
        Kevin
      </p>
    </footer>
    <!-- Vue link here -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- JS link here -->
    <script src="js/olympic3.js"></script>

    
  </body>
</html>
